{% load static %} 

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Art Factory HTML CSS Template</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/templatemo-art-factory.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/owl-carousel.css" %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">Art Factory</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url "index" %}" >Home</a></li>
                            <li class="scroll-to-section"><a href="{% url 'about' %}">About</a></li>
                            <li class="scroll-to-section"><a href="{% url 'services' %}">Services</a></li>
                            <li class="scroll-to-section"><a href="{% url 'frequently_questions' %}">Frequently Questions</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'contact' %}">Features</a></li>
                                    <li><a href="{% url 'frequently_questions' %}">FAQ's</a></li>
                                    <li><a href="{% url 'services' %}">Blog</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header> 
    <!-- ***** Header Area End ***** -->

    {% block home_template %} {% endblock %}
    {% block about_template %}{% endblock %}
    {% block contact_template %}{% endblock %}
    {% block frequently_question_template %}{% endblock %}
    {% block services_template %}{% endblock %}
    {% block drop_down_template %}{% endblock %}
    {% block read_more_template %}{% endblock %}



    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">{{footer_text.text1}}
                
											{{footer_text.text2}}<a rel="nofollow" href="{{footer_text.link_url}}">{{footer_text.link_name}}</a></p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                      {% for social in socials %}
                        <li>
                          <a href="{{social.url}}" target="_blank" title="{{social.title}}">
                            <i class="{{social.html_class}}"></i>
                          </a>
                        </li>
                    {% endfor %}
                    </ul>
 
                  {% comment %} <ul class="social">
                    {% for social in socials %}
                      <li>
                        <a href="{{social.url}}" target="_blank" title="{{social.title}}">
                          <i class="{{social.html_class}}"></i>
                        </a>
                      </li>
                    {% endfor %} {% endcomment %}
                  {% comment %} </ul>	 {% endcomment %}
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>

    <!-- Bootstrap -->
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugins -->
    <script src="{% static "js/owl-carousel.js" %}"></script>
    <script src="{% static "js/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/waypoints.min.js" %}"></script>
    <script src="{% static "js/jquery.counterup.min.js" %}"></script>
    <script src="{% static "js/imgfix.min.js" %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static "js/custom.js" %}"></script>

  </body>
</html>